# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
*/node_modules
/*/node_modules
/*/*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
# misc
.DS_Store
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/.env.production
/.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
packages/*/dist
packages/*/node_modules
apps/*/dev-dist
apps/*/dist
apps/*/build
packages/*/build
apps/*/node_modules
**/*/dist*
**/*/build*
**/*/stats.html
**/*/node_modules*
**/*/.env*
**/*/.next*
packages/*/stat.html
lerna-debug.log*
.yarn*
.next*
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
/features
.nx/*
.nx*
/.nx
/.nx/workspace
/.nx/cache
.nx/workspace
.nx/cache
*/.nx
.nx
.nx/workspace-data
/.nx/workspace-data
.nx/cache

.turbo
